Import Libraries

In [2]:
import pandas as pd

Loading Data from CSV File

In [8]:
df=pd.read_csv("all_060_in_12.P1.csv")

Display First Five Lines of Data

In [9]:
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,1203191646,60,12,31,27260,999,99999,999,Jacksonville West CCD,312199,140590,NaN,NaN,312199,NaN
1,1211591393,60,12,115,35840,494,99999,999,Gulf Gate Estates-Osprey CCD,28287,18426,NaN,NaN,28287,NaN
2,1201190644,60,12,11,33100,999,99999,999,Coral Springs-Margate CCD,217025,90813,NaN,NaN,217025,NaN
3,1203191640,60,12,31,27260,999,99999,999,Jacksonville Beaches CCD,54535,26043,NaN,NaN,54535,NaN
4,1205993596,60,12,59,99999,999,99999,999,West Holmes CCD,5544,2688,NaN,NaN,5544,NaN